html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

body {
    background: #e7e7e7;
}

/* Header */
.header {
    background-color: #b2b2b2;
    margin: 0;
    padding: 0;
    height: 50px;
    widht: 100%;
    max-width: 100%;
    min-width: 100%;
    position: fixed;
}

.header #logo {
    float: left;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    transition: 0.3s ease all;
}

#logo img {
    width: 50px;
    height: 50px;
    position: relative;
}

.header #logo:hover {
    background: #444;
}

/* Middle navigation bar */

nav {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 10%;
    height: 50px;

}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    color: #e7e7e7;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    width: 90px;
    height: 25px;
    transition: 0.3s ease all;
}

nav ul li a:hover {
    background: #444;
}

.header-right {
    float: right;
    display: inline-block;
    position: relative;
    height: 55px;
    width: 50px;
    transition: 0.3s ease all;
}

.header-right:hover {
    background: #444;
}

#profile img {
    height: 25px;
    width: 25px;
    margin: 25%;
    position: relative;

}
