/* FOR MOBILE */
html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
    font-size: 1.1em;
    overflow-x: hidden;

}

body {
    background: #f9f9f9;
    postion: relative;
}

/* Header */
.header {
    z-index: 3;
    background-color: #b2b2b2;
    margin: 0;
    padding: 0;
    height: 15%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: fixed;
}

.header .main {
    display: block;
    left: 0vh;
    position: relative;
    height: 15%;
}

.main #logo {
    width: 8vh;
    height: 11vh;
    position: relative;
    transition: 0.3s ease all;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 75%, 0 100%, 0% 0%);
}

.main #logo img {
    width: 6vh;
    height: 4vh;
    margin: 1vh;
}

.header .main #logo:hover {
    background: #86242A;
}


/* Navigation buttons */
.header nav {
    font-weight: 0;
    height: 8vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.header nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.header nav ul li {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.75vh;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 2vh 2vh 1vh 2vh;
    transition: 0.3s ease all;
    box-sizing: border-box;
    height: 12vh;
}

.header nav ul li a:hover {
    color: #444;
}

/* Curtain menu */
.menu_toggler {
    position: fixed;
    top: 3vh;
    right: 2vh;
    z-index: 2;
    height: 8vh;
    width: 8vh;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

span,
span::after,
span::before {
    content: '';
    position: absolute;
    width: 6.7vh;
    height: 0.75vh;
    background-color: #fff;
    border-radius: 1vh;
    transition: 500ms cubic-bezier(.77, 0, .175, 1);
    right: 0px;
}

span {
    width: 5.6vh;
}

span::after {
    width: 4vh;
}

span::before {
    top: -2vh;
}

span::after {
    top: 2vh;
}

.menu_toggler.active > span {
    background-color: transparent;
}

.menu_toggler.active > span::after,
.menu_toggler.active > span::before {
    background-color: #444;
    top: 0px;
    right: 0px;
    width: 28px;
}

.menu_toggler.active > span::before {
    transform: rotate(-225deg);
}

.menu_toggler.active > span::after {
    transform: rotate(225deg);
}

.menu {
    position: fixed;
    z-index: 1;
    right: -50%;
    top: 0px;
    /* curtain effect */
    background-image: linear-gradient(85deg, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000);
    height: 100%;
    width: 10%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s right cubic-bezier(.77, 0, .175, 1);
}

.menu.active {
    right: -10%;
}

.menu a {
    margin-bottom: 4vh;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
}

/* Main content element of the page */
.content {
    margin: 0 auto;
    width: 60%;
    postion: relative;
    margin-top: 20vh;
    margin-bottom: 5vh;
}

/* Footer */
.footer {
    z-index: 3;
    postion: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: 15vh;
    background-color: #a2a2a2;
}

.soMe {
    position: relative;
    float: right;
    top: 5vh;
    margin-right: 2.5vh;
    display: flex;
}

.soMe a {
    margin: 1vh;
}

.footer .fa {
    padding: 1vh;
    width: 3vh;
    height: 3vh;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: dimgrey;
    color: #e7e7e7;
}

.footer .fa-facebook:hover {
    background-color: #3b5998;
    color: white;
}

.footer .fa-twitter:hover {
    background-color: #00aced;
    color: white;
}

.footer .fa-instagram:hover {
    background-image: linear-gradient(-45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    color: white;
}

/* form for filmvisninger */
form h2,
h3 {
    font-weight: bold;
    display: block;
    padding: 2%;
    border-bottom: 2px solid dimgrey;
}

.powers {
    position: relative;
}

.powers select {
    width: 40px;
}

.powers .desc {
    margin-left: 1%;
    position: relative;
}

.tax {
    position: relative;
}

.tax label {
    margin-left: 1%;
    margin-bottom: 1%;
    position: relative;
}

.tax .desc {
    margin-bottom: 1%;
    position: relative;
    font-weight: bold;
}

.tax input {
    padding: 1%;
    margin-top: 1%;
}


.form {
    border-style: solid;
    border-color: dimgrey;
    border-radius: 4px;
    padding: 2.5%;
    width: 80%;
    margin: 0 auto;
    margin-top: 15vh;
    background: #e7e7e7;
    display: block;
    position: relative;

}

.textinput {
    position: absolute;
    border-style: solid;
    border-color: dimgrey;
    border-radius: 1vh;
    width: 40%;
    height: 69%;
    left: 45%;
    padding: 1%;
    margin-top: 2.5%;
    margin-left: 5%;
    background-color: #ffffff;
}

.textinput textarea {
    width: 97%;
    height: 75%;
    padding: 0.5vh;
    border: none;
}

input {
    display: block;
    box-sizing: border-box;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin-bottom: 2%;
    background-color: #ffffff;
}

input:focus,
input:hover {
    border-color: dimgray;
    box-shadow: inset 0px 0px 4px #a7a7a7;
}

input[type=text],
input[type=email] {
    padding: 1%;
    width: 40%;
    margin-top: 1%;
}

input[type=text]:invalid,
input[type=email]:invalid,
input[type=date]:invalid,
input[type=number]:invalid,
select:invalid {
    border-left-color: crimson;
}

input[type=text]:valid,
input[type=email]:valid,
input[type=date]:valid,
input[type=number]:valid,
select:valid {
    border-left-color: #b3ff66;
}

input[type=date] {
    padding: 0.5%;
    margin-top: 1%;
    width: 40%;
}

.sel {
    display: block;
    width: 5%;
    max-width: 5%;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin: 1% 0 2% 1%;
    box-sizing: border-box;
}

.sel:hover {
    border-color: dimgray;
}

.sel:focus {
    border-color: dimgray;
}

.sel:invalid {
    border-left-color: crimson;
}

.radi .desc {
    margin-bottom: 1%;
}

.desc {
    display: block;
    position: relative;
}

.rad {
    display: inline;
    padding: 1%;
}

.sub {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    background-color: #f9f9f9;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin: 4% 0 2% 0;
    box-sizing: border-box;
    padding: 1% 2% 1% 2%;
    box-shadow: 1px 1px 1px 1px #a7a7a7;
}

.sub:focus {
    background-color: #e7e7e7;
}

.sub:hover {
    background-color: #f9f9f9;
}

.sub:active {
    box-shadow: inset 0px 0px 10px #a7a7a7;
}

form:invalid [type=submit] {
    border-left-color: crimson;
}

form:valid [type=submit] {
    border-left-color: #b3ff66;
}

.dis {
    display: none;
}

.submit {
    margin: 1%;
}

.output {
    text-align: center;
    margin: 5%;
    color: crimson;
}


/* FOR DESKTOP */
@media only screen and (min-width: 768px) {

    html,
    body {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-family: sans-serif;
        font-size: 1em;
        overflow-x: hidden;

    }

    body {
        background: #f9f9f9;
        postion: relative;
    }

    /* Header */
    .header {
        z-index: 3;
        background-color: #b2b2b2;
        margin: 0;
        padding: 0;
        height: 8vh;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        position: fixed;
    }

    .header #logo {
        float: left;
        display: block;
        left: 1vh;
        top: 0;
        position: relative;
        transition: 0.3s ease all;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 75%, 0 100%, 0% 0%);
    }

    #logo img {
        width: 8vh;
        height: 8vh;
        position: relative;
    }

    .header #logo:hover {
        background: #86242A;
    }

    /* Navigation buttons */
    .header nav {
        font-weight: bold;
        height: 6vh;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }

    .header nav ul {
        list-style: none;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }

    .header nav ul li {
        display: inline-block;
        box-sizing: border-box;
        padding-top: 0vh;
        height: 7vh;
    }

    .header nav ul li a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 1.5vh 2vh 1vh 2vh;
        transition: 0.3s ease all;
        box-sizing: border-box;
        height: 7vh;
    }

    .header nav ul li a:hover {
        color: #444;
    }

    /* Curtain menu */
    .menu_toggler {
        position: fixed;
        top: 1vh;
        right: 2vh;
        z-index: 2;
        height: 6vh;
        width: 6vh;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span,
    span::after,
    span::before {
        content: '';
        position: absolute;
        width: 4vh;
        height: 0.5vh;
        background-color: #fff;
        border-radius: 1vh;
        transition: 500ms cubic-bezier(.77, 0, .175, 1);
        right: 0px;
    }

    span {
        width: 3vh;
    }

    span::after {
        width: 2vh;
    }

    span::before {
        top: -1.5vh;
    }

    span::after {
        top: 1.5vh;
    }

    .menu_toggler.active > span {
        background-color: transparent;
    }

    .menu_toggler.active > span::after,
    .menu_toggler.active > span::before {
        background-color: #444;
        top: 0px;
        right: 0px;
        width: 28px;
    }

    .menu_toggler.active > span::before {
        transform: rotate(-225deg);
    }

    .menu_toggler.active > span::after {
        transform: rotate(225deg);
    }

    .menu {
        position: fixed;
        z-index: 1;
        right: -50%;
        top: 0px;
        /* curtain effect */
        background-image: linear-gradient(85deg, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000);
        height: 100%;
        width: 10%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        padding: 0px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s right cubic-bezier(.77, 0, .175, 1);
    }

    .menu.active {
        right: -10%;
    }

    .menu a {
        margin-bottom: 4vh;
        text-decoration: none;
        color: #ffffff;
    }

    /* Main content element of the page */
    .content {
        margin: 0 auto;
        width: 60%;
        postion: relative;
        margin-top: 15vh;
        margin-bottom: 5vh;
    }

    /* Footer */
    .footer {
        z-index: 3;
        postion: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
        height: 15vh;
        background-color: #a2a2a2;
    }

    .soMe {
        position: relative;
        float: right;
        top: 5vh;
        margin-right: 5vh;
        display: flex;
    }

    .soMe a {
        margin: 1vh;
    }

    .footer .fa {
        padding: 1vh;
        width: 2vh;
        height: 1.7vh;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background-color: dimgrey;
        color: #e7e7e7;
    }

    .footer .fa-facebook:hover {
        background-color: #3b5998;
        color: white;
    }

    .footer .fa-twitter:hover {
        background-color: #00aced;
        color: white;
    }

    .footer .fa-instagram:hover {
        background-image: linear-gradient(-45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
        color: white;
    }

    /* form for filmvisninger */
    form h2,
    h3 {
        font-weight: bold;
        display: block;
        padding: 2%;
        border-bottom: 2px solid dimgrey;
    }

    .powers {
        position: relative;
    }

    .powers select {
        width: 40px;
    }

    .powers .desc {
        margin-left: 1%;
        position: relative;
    }

    .tax {
        position: relative;
    }

    .tax label {
        margin-left: 1%;
        margin-bottom: 1%;
        position: relative;
    }

    .tax .desc {
        margin-bottom: 1%;
        position: relative;
        font-weight: bold;
    }

    .tax input {
        padding: 1%;
        margin-top: 1%;
    }


    .form {
        border-style: solid;
        border-color: dimgrey;
        border-radius: 4px;
        padding: 2.5%;
        width: 80%;
        margin: 0 auto;
        margin-top: 15vh;
        background: #e7e7e7;
        display: block;
        position: relative;

    }

    .textinput {
        position: absolute;
        border-style: solid;
        border-color: dimgrey;
        border-radius: 1vh;
        width: 40%;
        height: 69%;
        left: 45%;
        padding: 1%;
        margin-top: 2.5%;
        margin-left: 5%;
        background-color: #ffffff;
    }

    .textinput textarea {
        width: 97%;
        height: 75%;
        padding: 0.5vh;
        border: none;
    }

    input {
        display: block;
        box-sizing: border-box;
        border: 2px solid darkgrey;
        border-radius: 4px;
        margin-bottom: 2%;
        background-color: #ffffff;
    }

    input:focus,
    input:hover {
        border-color: dimgray;
        box-shadow: inset 0px 0px 4px #a7a7a7;
    }

    input[type=text],
    input[type=email] {
        padding: 1%;
        width: 40%;
        margin-top: 1%;
    }

    input[type=text]:invalid,
    input[type=email]:invalid,
    input[type=date]:invalid,
    input[type=number]:invalid,
    select:invalid {
        border-left-color: crimson;
    }

    input[type=text]:valid,
    input[type=email]:valid,
    input[type=date]:valid,
    input[type=number]:valid,
    select:valid {
        border-left-color: #b3ff66;
    }

    input[type=date] {
        padding: 0.5%;
        margin-top: 1%;
        width: 40%;
    }

    .sel {
        display: block;
        width: 5%;
        max-width: 5%;
        border: 2px solid darkgrey;
        border-radius: 4px;
        margin: 1% 0 2% 1%;
        box-sizing: border-box;
    }

    .sel:hover {
        border-color: dimgray;
    }

    .sel:focus {
        border-color: dimgray;
    }

    .sel:invalid {
        border-left-color: crimson;
    }

    .radi .desc {
        margin-bottom: 1%;
    }

    .desc {
        display: block;
        position: relative;
    }

    .rad {
        display: inline;
        padding: 1%;
    }

    .sub {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        background-color: #f9f9f9;
        border: 2px solid darkgrey;
        border-radius: 4px;
        margin: 4% 0 2% 0;
        box-sizing: border-box;
        padding: 1% 2% 1% 2%;
        box-shadow: 1px 1px 1px 1px #a7a7a7;
    }

    .sub:focus {
        background-color: #e7e7e7;
    }

    .sub:hover {
        background-color: #f9f9f9;
    }

    .sub:active {
        box-shadow: inset 0px 0px 10px #a7a7a7;
    }

    form:invalid [type=submit] {
        border-left-color: crimson;
    }

    form:valid [type=submit] {
        border-left-color: #b3ff66;
    }

    .dis {
        display: none;
    }

    .submit {
        margin: 1%;
    }

    .output {
        text-align: center;
        margin: 5%;
        color: crimson;
    }

}
