/* FOR MOBILE */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

body {
    background: #f9f9f9;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

/* Header */
.header {
    z-index: 3;
    background-color: #b2b2b2;
    margin: 0;
    padding: 0;
    height: 15%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: fixed;
}

/* Logo */
.main {
    display: inline-block;
    position: absolute;
    height: 110%;
    width: 15vh;
    padding: 3vh 0 2vh 0;
    margin-left: 2vh;
    transition: 0.3s ease all;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 75%, 0 100%, 0% 0%);
}

.main #logo {
    margin: 1vh;
}

.main #logo img {
    width: 90%;
    height: 60%;
}

.header .main:hover {
    background: #86242A;
}

/* Navigation buttons */
.header nav {
    font-weight: 0;
    height: 8vh;
    display: none;
    justify-content: center;
    box-sizing: border-box;
}


/* Curtain menu */
.menu_toggler {
    position: fixed;
    top: 3vh;
    right: 2vh;
    z-index: 2;
    height: 8vh;
    width: 8vh;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

span,
span::after,
span::before {
    content: '';
    position: absolute;
    width: 6.7vh;
    height: 0.75vh;
    background-color: #fff;
    border-radius: 1vh;
    transition: 500ms cubic-bezier(.77, 0, .175, 1);
    right: 0px;
}

span {
    width: 5.6vh;
}

span::after {
    width: 4vh;
}

span::before {
    top: -2vh;
}

span::after {
    top: 2vh;
}

.menu_toggler.active > span {
    background-color: transparent;
}

.menu_toggler.active > span::after,
.menu_toggler.active > span::before {
    background-color: #444;
    top: 0px;
    right: 0px;
    width: 28px;
}

.menu_toggler.active > span::before {
    transform: rotate(-225deg);
}

.menu_toggler.active > span::after {
    transform: rotate(225deg);
}

.menu {
    position: fixed;
    z-index: 1;
    right: -80%;
    top: 0px;
    /* curtain effect */
    background-image: linear-gradient(85deg, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000);
    height: 100%;
    width: 40%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-weight: bold;
    transition: 0.3s right cubic-bezier(.77, 0, .175, 1);
}

.menu.active {
    right: -10%;
}

.menu a {
    margin-top: 3vh;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
}

/* Main content element of the page */
.content {
    margin: 0 auto;
    width: 100%;
    min-height: 65vh;
    margin-top: 20vh;
    margin-bottom: 5vh;
}

/* Cards */
.card {
    transition: 0.3s;
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #e7e7e7;
    margin-bottom: 5vh;
}

.card img {
    width: 100%;
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    border-left: 0;
    border-right: 0;

}

.card:hover {
    box-shadow: 0 8px 16px 0 dimgrey;
}

.card h4 {
    position: relative;
    display: block;
    top: -1.75vh;
    left: 1vh;
    width: 40%;
}

.card ul {
    position: absolute;
    display: block;
    list-style: none;
    padding: 0;
    right: 2vh;
    top: 0vh;
    font-weight: bold;
    width: 40%;
}

.card p {
    padding: 2vh;
    margin: 0 auto;
}

.container {
    padding: 1vh;
}


#filmtips {
    text-align: center;
}

.medlemskap {
    margin: 0 auto;
    width: 70%;
    display: block;
}

.medlemskap p {
    display: block;
}

.styret {
    transition: 0.3s;
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #e7e7e7;
    margin-bottom: 5vh;
}

.styret p {
    margin: 3vh;
}

.styret h4 {
    margin: 0 auto;
    margin-top: 2vh;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid dimgrey;
    width: 70%;
    font-size: 150%;
}

.styret h2 {
    margin-top: 2vh;
    margin-left: 3vh;
    font-weight: bold;
    width: 70%;
    font-size: 100%;

}

.styret img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1vh;
    width: 50%;
    border: 2px solid dimgray;
}

.vareMed {
    margin: 0 auto;
    width: 70%;
}


#filmtips {
    text-align: center;
}

/* Banner */
.banner {
    z-index: 0;
    position: relative;
    width: 150%;
    margin-top: -10vh;
}

.banner img {
    width: 100%;
}

.text {
    width: 80%;
    margin: 0 auto;
}

/* Footer */
.footer {
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: 15vh;
    background-color: #a2a2a2;
}

.soMe {
    position: relative;
    float: right;
    top: 5vh;
    margin-right: 2.5vh;
    display: flex;
}

.soMe a {
    margin: 1vh;
}

.kont {
    position: relative;
    display: inline-block;
    top: 4vh;
    left: 4vh;
}

.kont ul {
    list-style: none;
    padding: 0;
}

.footer .fa {
    padding: 1vh;
    width: 3vh;
    height: 2.5vh;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: dimgrey;
    color: #e7e7e7;
}

.footer .fa-facebook:hover {
    background-color: #3b5998;
    color: white;
}

.footer .fa-twitter:hover {
    background-color: #00aced;
    color: white;
}

.footer .fa-instagram:hover {
    background-image: linear-gradient(-45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    color: white;
}

/* form for filmvisninger */
form h2,
h3 {
    font-weight: bold;
    display: block;
    padding: 2%;
    border-bottom: 2px solid dimgrey;
}

.desc {
    width: 50%;
}

.powers {
    position: relative;
}

.powers h4 {
    width: 50%;
}

.powers select {
    width: 40px;
}

.powers .desc {
    margin-left: 1%;
    position: relative;
}

.form {
    border-style: solid;
    border-color: dimgrey;
    border-radius: 4px;
    padding: 2.5%;
    width: 80%;
    margin: 0 auto;
    margin-top: 20vh;
    background: #e7e7e7;
    display: block;
    position: relative;

}

.textinput {
    position: absolute;
    border-style: solid;
    border-color: dimgrey;
    border-radius: 1vh;
    width: 40%;
    height: 69%;
    left: 45%;
    padding: 1%;
    margin-top: 2.5%;
    margin-left: 5%;
    background-color: #ffffff;
}

.textinput textarea {
    width: 97%;
    height: 75%;
    padding: 0.5vh;
    border: none;
}

input {
    display: block;
    box-sizing: border-box;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin-bottom: 2%;
    background-color: #ffffff;
}

input:focus,
input:hover {
    border-color: dimgray;
    box-shadow: inset 0px 0px 4px #a7a7a7;
}

input[type=text],
input[type=email] {
    padding: 1%;
    width: 40%;
    margin-top: 1%;
}

input[type=text]:invalid,
input[type=email]:invalid,
input[type=date]:invalid,
input[type=number]:invalid,
select:invalid {
    border-left-color: crimson;
}

input[type=text]:valid,
input[type=email]:valid,
input[type=date]:valid,
input[type=number]:valid,
select:valid {
    border-left-color: #b3ff66;
}

input[type=date] {
    padding: 0.5%;
    margin-top: 1%;
    width: 40%;
}

.sel {
    display: block;
    width: 5%;
    max-width: 5%;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin: 1% 0 2% 1%;
    box-sizing: border-box;
}

.sel:hover {
    border-color: dimgray;
}

.sel:focus {
    border-color: dimgray;
}

.sel:invalid {
    border-left-color: crimson;
}

.radi .desc {
    margin-bottom: 1%;
}

.desc {
    display: block;
    position: relative;
}

.rad {
    display: inline;
    padding: 1%;
}

.sub {
    text-align: center;
    font-weight: bold;
    display: inline-block;
    background-color: #f9f9f9;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin: 4% 0 2% 0;
    box-sizing: border-box;
    padding: 1% 2% 1% 2%;
    box-shadow: 1px 1px 1px 1px #a7a7a7;
}

.sub:focus {
    background-color: #e7e7e7;
}

.sub:hover {
    background-color: #f9f9f9;
}

.sub:active {
    box-shadow: inset 0px 0px 10px #a7a7a7;
}

form:invalid [type=submit] {
    border-left-color: crimson;
}

form:valid [type=submit] {
    border-left-color: #b3ff66;
}

.dis {
    display: none;
}

.submit {
    margin: 1%;
}

.output {
    text-align: center;
    margin: 5%;
    color: crimson;
}

/*Vedtekter*/
.vedtekter {
    width: 70%;
    margin: 0 auto;
}

/*Om*/
.om {
    width: 70%;
    margin: 0 auto;
}

.om .images {
    margin-top: 5vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.om .images img {
    margin: 1vh;
    width: 50%;
}


/* FOR DESKTOP */
@media only screen and (min-width: 768px) {

    html,
    body {
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        overflow-x: hidden;

    }

    body {
        background: #f9f9f9;
    }

    /* Header */
    .header {
        z-index: 3;
        background-color: #b2b2b2;
        margin: 0;
        padding: 0;
        height: 8vh;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        position: fixed;
    }

    /* Logo */
    .main {
        display: inline-block;
        position: absolute;
        height: 90%;
        width: 10vh;
        padding: 1.5vh 0 2vh 0;
        margin-left: 1vh;
        transition: 0.3s ease all;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 50% 75%, 0 100%, 0% 0%);
    }

    .main #logo {
        margin: 0.5vh;
    }

    .main #logo img {
        width: 90%;
        height: 70%;
    }

    .header .main:hover {
        background: #86242A;
    }

    /* Navigation buttons */
    .header nav {
        font-weight: bold;
        height: 8vh;
        display: block;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
        top: 0;
    }

    .header nav ul {
        display: block;
        list-style: none;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        width: 60%;
        height: 8vh;
    }

    .header nav ul li {
        display: inline-block;
        box-sizing: border-box;
        height: 8vh;
    }
    


    .header nav ul li a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 2.5vh 2vh 1.5vh 2vh;
        transition: 0.3s ease all;
        box-sizing: border-box;
        height: 8vh;
    }

    .active, .navElem:hover {
        color: #444;
    }

    /* Curtain menu */
    .menu_toggler {
        position: fixed;
        top: 1vh;
        right: 2vh;
        z-index: 2;
        height: 6vh;
        width: 6vh;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span,
    span::after,
    span::before {
        content: '';
        position: absolute;
        width: 4vh;
        height: 0.5vh;
        background-color: #fff;
        border-radius: 1vh;
        transition: 500ms cubic-bezier(.77, 0, .175, 1);
        right: 0px;
    }

    span {
        width: 3vh;
    }

    span::after {
        width: 2vh;
    }

    span::before {
        top: -1.5vh;
    }

    span::after {
        top: 1.5vh;
    }

    .menu_toggler.active > span {
        background-color: transparent;
    }

    .menu_toggler.active > span::after,
    .menu_toggler.active > span::before {
        background-color: #444;
        top: 0px;
        right: 0px;
        width: 28px;
    }

    .menu_toggler.active > span::before {
        transform: rotate(-225deg);
    }

    .menu_toggler.active > span::after {
        transform: rotate(225deg);
    }

    .menu {
        position: fixed;
        z-index: 1;
        right: -60%;
        margin-right: 3vh;
        top: 0px;
        /* curtain effect */
        background-image: linear-gradient(85deg, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000, #330000, #4c0000, #660000, #4c0000);
        height: 100%;
        width: 20%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
        padding: 0px 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s right cubic-bezier(.77, 0, .175, 1);
    }

    .menu.active {
        right: -10%;
    }

    .menu a {
        margin-top: 1vh;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        padding: 2vh 2vh 0.6vh 2vh;
        border-bottom: 2px solid black;
        border-radius: 5%;
    }

    .menu a:hover {
        color: #c2c2c2;
        text-shadow: 1px 1px 2px dimgrey;
        transition: 0.3s ease all;
    }

    .menu #a1, #a2, #a3 {
        display: none;
    }

    /* Main content element of the page */
    .content {
        position: relative;
        margin: 0 auto;
        width: 100%;
        min-height: 60vh;
        margin-top: 15vh;
        margin-bottom: 10vh;
    }

    /* Banner */
    .banner {
        z-index: 0;
        position: relative;
        width: 100%;
        margin-top: -15vh;
    }

    .banner img {
        width: 100%;
    }


    .text {
        margin: 0 auto;
        margin-top: 5vh;
        width: 60%;
        position: relative;
    }

    /* Cards */
    .card {
        transition: 0.3s;
        position: relative;
        width: 40%;
        margin: 0 auto;
        border: 1px solid black;
        background-color: #e7e7e7;
        margin-bottom: 5vh;
        opacity: 0;
    }

    .card img {
        width: 100%;
        position: relative;
        border: 1px solid black;
        box-sizing: border-box;
        border-left: 0;
        border-right: 0;
        margin-top: 0vh;

    }

    .card:hover {
        box-shadow: 0 8px 16px 0 dimgrey;
    }

    .card h4 {
        font-size: 1.2ems;
        position: relative;
        display: block;
        top: -1.5vh;
        left: 1vh;
        width: 40%
    }

    .card ul {
        position: absolute;
        display: block;
        list-style: none;
        padding: 0;
        width: 40%;
        right: 2vh;
        top: 0vh;
        font-weight: bold;
    }

    .card ul li {
        width: 90%;
        display: block;
    }

    .card p {
        padding: 2vh;
        margin: 0 auto;
    }

    .card .container {
        padding: 1vh;
        margin: 0.2vh;
    }

    #filmtips {
        text-align: center;
    }

    .medlemskap {
        margin: 0 auto;
        width: 50%;
        display: block;
    }

    .medlemskap p {
        display: block;
    }

    .styret {
        transition: 0.3s;
        position: relative;
        width: 50%;
        margin: 0 auto;
        border: 1px solid black;
        background-color: #e7e7e7;
        margin-bottom: 5vh;
    }

    .styret p {
        margin: 3vh;
    }

    .styret h4 {
        margin: 0 auto;
        margin-top: 2vh;
        text-align: center;
        font-weight: bold;
        border-bottom: 2px solid dimgrey;
        width: 70%;
        font-size: 150%;
    }

    .styret h2 {
        margin-top: 2vh;
        margin-left: 3vh;
        font-weight: bold;
        width: 70%;
        font-size: 100%;

    }

    .styret img {
        display: block;
        margin: 0 auto;
        margin-bottom: 1vh;
        width: 50%;
        border: 2px solid dimgray;
    }

    .vareMed {
        margin: 0 auto;
        width: 40%;
    }


    /* Footer */
    .footer {
        position: relative;
        z-index: 3;
        left: 0;
        bottom: 0;
        width: 100%;
        min-width: 100%;
        height: 15vh;
        background-color: #a2a2a2;
    }

    .soMe {
        position: relative;
        display: inline-block;
        top: 5vh;
        right: 1vh;
        margin-right: 5vh;
        display: flex;
    }

    .soMe a {
        margin: 1vh;
    }

    .kont {
        position: relative;
        display: inline-block;
        top: 4vh;
        left: 4vh;
    }

    .kont ul {
        list-style: none;
        padding: 0;
    }

    .footer .fa {
        padding: 1vh;
        width: 2vh;
        height: 2vh;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background-color: dimgrey;
        color: #e7e7e7;
    }

    .footer .fa-facebook:hover {
        background-color: #3b5998;
        color: white;
    }

    .footer .fa-twitter:hover {
        background-color: #00aced;
        color: white;
    }

    .footer .fa-instagram:hover {
        background-image: linear-gradient(-45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
        color: white;
    }

    /* form for filmvisninger */
    form h2,
    h3 {
        font-weight: bold;
        display: block;
        padding: 2%;
        border-bottom: 2px solid dimgrey;
    }

    .powers {
        position: relative;
    }

    .powers select {
        width: 40px;
    }

    .powers .desc {
        margin-left: 1%;
        position: relative;
    }

    .form {
        border-style: solid;
        border-color: dimgrey;
        border-radius: 4px;
        padding: 2.5%;
        width: 80%;
        margin: 0 auto;
        margin-top: 15vh;
        background: #e7e7e7;
        display: block;
        position: relative;

    }

    .textinput {
        position: absolute;
        border-style: solid;
        border-color: dimgrey;
        border-radius: 1vh;
        width: 40%;
        height: 69%;
        left: 45%;
        padding: 1%;
        margin-top: 2.5%;
        margin-left: 5%;
        background-color: #ffffff;
    }

    .textinput textarea {
        width: 97%;
        height: 75%;
        padding: 0.5vh;
        border: none;
        border-bottom: 2px solid dimgrey;
    }

    input {
        display: block;
        box-sizing: border-box;
        border: 2px solid darkgrey;
        border-radius: 4px;
        margin-bottom: 2%;
        background-color: #ffffff;
    }

    input:focus,
    input:hover {
        border-color: dimgray;
        box-shadow: inset 0px 0px 4px #a7a7a7;
    }

    input[type=text],
    input[type=email] {
        padding: 1%;
        width: 40%;
        margin-top: 1%;
    }

    input[type=text]:invalid,
    input[type=email]:invalid,
    input[type=date]:invalid,
    input[type=number]:invalid,
    select:invalid {
        border-left-color: crimson;
    }

    input[type=text]:valid,
    input[type=email]:valid,
    input[type=date]:valid,
    input[type=number]:valid,
    select:valid {
        border-left-color: #b3ff66;
    }

    input[type=date] {
        padding: 0.5%;
        margin-top: 1%;
        width: 40%;
    }

    .sel {
        display: block;
        width: 5%;
        max-width: 5%;
        border: 2px solid darkgrey;
        border-radius: 4px;
        margin: 1% 0 2% 1%;
        box-sizing: border-box;
    }

    .sel:hover {
        border-color: dimgray;
    }

    .sel:focus {
        border-color: dimgray;
    }

    .sel:invalid {
        border-left-color: crimson;
    }

    .radi .desc {
        margin-bottom: 1%;
    }

    .desc {
        display: block;
        position: relative;
    }

    .rad {
        display: inline;
        padding: 1%;
    }

    .sub {
        text-align: center;
        font-weight: bold;
        display: inline-block;
        background-color: #f9f9f9;
        border: 2px solid darkgrey;
        border-radius: 4px;
        margin: 4% 0 2% 0;
        box-sizing: border-box;
        padding: 1% 2% 1% 2%;
        box-shadow: 1px 1px 1px 1px #a7a7a7;
    }

    .sub:focus {
        background-color: #e7e7e7;
    }

    .sub:hover {
        background-color: #f9f9f9;
        cursor: pointer;
        box-shadow: 0.1vh 0.1vh 0 dimgrey;
    }

    .sub:active {
        box-shadow: inset 0px 0px 10px #a7a7a7;
    }

    form:invalid [type=submit] {
        border-left-color: crimson;
    }

    form:valid [type=submit] {
        border-left-color: #b3ff66;
    }

    .dis {
        display: none;
    }

    .submit {
        margin: 1%;
    }

    .output {
        text-align: center;
        margin: 5%;
        color: crimson;
    }

    /*Vedtekter*/
    .vedtekter {
        width: 70%;
        margin: 0 auto;
    }

    /*Om*/
    .om {
        width: 70%;
        margin: 0 auto;
    }

    .om .images {
        margin-top: 5vh;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: block;
        position: relative;
        bottom: -10vh;
    }

    .om .images img {
        margin: 1vh;
        width: 20%;
        display: inline-block;
        bottom: 1vh;
    }

    /*FAQ*/
    .faq {
        width: 70%;
        margin: 0 auto;
    }

}
