body {
    background-color: #a7a7a7;
    font-family: 'Raleway', sans-serif;
}

.rammeStdr {
    position: relative;
    color: #123C69;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border-style: solid;
    border-color: #e7e7e7;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    background-color: #e7e7e7;
    text-align: center;
    box-shadow: 5px 5px grey;
}

.rammeStdr h3 {
    border-bottom: 2px solid dimgrey;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2vh;
}

.bildeStdr {
    padding-top: 10px;
    width: 75%;
    border-radius: 2%;
}

p {
    display: block;
    font-size: 16px;
    line-height: 20pt;
    text-align: left;
    padding: 0 5% 0 5%;
}

.list {
    text-align: left;
    padding-left: 10%;
    list-style-type: square;
}

#table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin: 2vh;

}

#table td,
#table th {
    border: 1px solid #ffffff;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e0e0e0;
    color: #123C69;
}